[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"gl-pages-forward" = {path = ".", editable = true}

[packages]
click = "*"
jinja2 = "*"
ruamel-yaml = "*"

[requires]
python_version = "3.7"
