Contact: mailto:patrick.stoeckle@tum.de
Expires: 2022-12-31T22:59:00.000Z
Encryption: https://www.in.tum.de/fileadmin/w00bws/i04/public_keys/stoeckle_6186951F.asc
Preferred-Languages: de,en
Canonical: {{base_url}}.well-known/security.txt
